USER=root
ENV=dev
MYSQL_HOST=_
MYSQL_PORT=3306
MYSQL_USER=openmemory_user
MYSQL_PASSWORD=_
MYSQL_DATABASE=openmemory
QDRANT_HOST=_
LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
LLM_API_KEY=_
EMBEDDER_PROVIDER=openai
EMBEDDER_MODEL=text-embedding-3-small
EMBEDDER_API_KEY=_

