USER=root
ENV=dev
MYSQL_HOST=_
MYSQL_PORT=3306
MYSQL_USER=_
MYSQL_PASSWORD=_
MYSQL_DATABASE=openmemory
QDRANT_HOST=_
LLM_PROVIDER=azure_openai
LLM_API_KEY=_
LLM_AZURE_DEPLOYMENT=_
LLM_AZURE_ENDPOINT=https://dpt-azure-core-endpoints-openai-services.openai.azure.com/
LLM_AZURE_API_VERSION=_
EMBEDDER_PROVIDER=azure_openai
EMBEDDER_API_KEY=_
EMBEDDER_AZURE_DEPLOYMENT=text-embedding-3-small
EMBEDDER_AZURE_ENDPOINT=https://dpt-azure-core-endpoints-openai-services.openai.azure.com/
EMBEDDER_AZURE_API_VERSION=_

